.container{
    min-width: 500px; 
    min-height: 450px;
    display: flex;
    flex-direction: column;
    gap:30px;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
    padding-top: 5px;
}

.heading{
    display: flex;
    gap: 10px;
    overflow-x: auto;
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.heading .sections{
    padding:10px ;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    font-size: 1rem;
    white-space: nowrap;
    cursor: pointer;
}

.heading .active{
    border-bottom: 2px solid rgb(38, 120, 120);
    color: rgb(38, 120, 120);
    
}

.body{
    padding: 30px;
    display: flex;
    flex-direction: column ;
    gap: 30px;
    padding-top: 0px;
}

.detail{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.detail .row{
    display: flex;
    gap:20px;
}

.detail .column{
    display: flex;
    flex-direction: column;
    gap:10px;
}

.detail .row > div{
    flex:1;
}

.chips{
    display: flex;
    flex-wrap: wrap;
}

.chip{
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 4px 8px;
    background-color: #808080;
    gap: 10px;
    border-radius: 5px;
    padding-top: 0px;
}

.chip p{
    font-weight: 500;
    line-height: 1.25rem;
    color: #fff;
   
}

.chip svg{
    color: #fff;
    height: 18px;
    width: 18px;
    cursor: pointer;
}

.chip .active{
    background-color: aquamarine;
}

.body button{
    width: fit-content;
    padding: 10px 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5px;
    border: none;
    background-color: bisque;
    font-weight: bold;
    cursor: pointer;
    transition: 200ms;
}

.body button:active{
    transform: translateY(2px);
}